#arena {
    border: solid #000 1px;
    font-weight: bold;
    background-color: #e2e2e2;
    padding: 2px;
}

#arena tr td{
    background-color: #ececec;
    height: 20px;
    width: 20px;
    text-align: center
}

.button-score{
    width: 13px;
    height: 13px;
    background-color: #d07676;
    border-radius: 7px;
    margin-top: 5px;
    margin-left: 12px;
    float: left;
    border: solid 2px #925656;
}

.button-score:hover{
    background-color: #a7dc8b;
    border: solid 2px #79b77e;
}
.wall{
    background-color: #000 !important;
}

.score{
    padding: 2px;
    background-color: #dadada;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
    width: 200px;
    float: left;
}

.score-name{
    background-color: #d5d5da;
    float: left;
    width: 20%;
    text-align: center;
}

.score-value{
    background-color: #ececec;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: #827979;
    float: left;
    width: 60%;
    height: 25px;
}

#scoreBoard{
    float: left;
    width: 240px;
    margin-top: 10px;
}

#status{
    float: left;
}

.bg-config{
    background-color: #1b1b1b;
    border-radius: 10px;
    width: 380px;
    height: 200px;
    position: absolute;
    margin: auto;
}

.button-config
{
    position: relative;
    margin: 60px auto 40px;
    width: 30%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    font-weight: bold;
    text-align: center;
}

.input-config{
    width: 30%;
    font-size: 11px;
    text-align: center;
    padding: 3px 3px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.button-group{
    text-align: center;
    left: 2px;
}
