#arena {
    border: solid #000 1px;
    font-weight: bold;
    background-color: #e2e2e2;
    padding: 2px;
}

#arena tr td{
    background-color: #ececec;
    height: 20px;
    width: 20px;
    text-align: center
}

.button-score{
    width: 13px;
    height: 13px;
    background-color: #d07676;
    border-radius: 7px;
    margin-top: 5px;
    margin-left: 12px;
    float: left;
    border: solid 2px #925656;
}

.button-score:hover{
    background-color: #a7dc8b;
    border: solid 2px #79b77e;
}
.wall{
    background-color: #000 !important;
}

.score{
    padding: 2px;
    background-color: #dadada;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 20px;
    width: 200px;
    float: left;
}

.score-name{
    background-color: #d5d5da;
    float: left;
    width: 20%;
    text-align: center;
}

.score-value{
    background-color: #ececec;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    color: #827979;
    float: left;
    width: 60%;
    height: 25px;
}

#scoreBoard{
    float: left;
    width: 350px;
}

